<a href="https://colab.research.google.com/github/financieras/AdventOfCode2021/blob/master/test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<pre><code></code></pre>

En un juego de mesa las victorias dan 3 puntos, los empates dan 1 punto y las derrotas dan 0 puntos.

Hemos creado una función que recibe los parámetros (victorias, empates, derrotas) en ese orden, para retornar los puntos totales obtenidos por un jugador.

Como las derrotas no dan puntos, en algunas ocasiones no nos dan ese último dato, por lo que solo nos dan (victorias, empates).

Indique cuál de los siguientes códigos calcula correctamente los puntos totales obtenidos por el jugador.

In [ ]:
def puntuacion(victorias, empates, derrotas=None):
    return victorias * 3 + empates

print(puntuacion(10, 4, 2))
print(puntuacion(12, 3))

34
39

In [ ]:
def puntuacion(victorias, empates, derrotas==0):
    return victorias * 3 + empates * 1 + derrotas

print(puntuacion(10, 4, 2))
print(puntuacion(12, 3))

SyntaxError: invalid syntax (<ipython-input-8-042b45365f45>, line 1)

In [ ]:
def puntuacion(victorias, empates):
    return victorias * 3 + empates

print(puntuacion(10, 4, 2))
print(puntuacion(12, 3))

TypeError: puntuacion() takes 2 positional arguments but 3 were given

In [ ]:
def puntuacion(victorias, empates, derrotas=None):
    if derrotas = None:
        derrotas = 0
    return victorias * 3 + empates * 1 + derrotas * 0

print(puntuacion(10, 4, 2))
print(puntuacion(12, 3))

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (<ipython-input-4-69b3060a6525>, line 2)

In [ ]:
def puntuacion(victorias, empates, derrotas):
    return victorias * 3 + empates * 1 + derrotas * 0

print(puntuacion(10, 4, 2))
print(puntuacion(12, 3))

34

TypeError: puntuacion() missing 1 required positional argument: 'derrotas'

  Deseamos elevar un número entero positivo n a un exponente entero positivo m.

In [5]:
def elevar(n, m):
    producto = 1
    for i in range(m):
        producto *= n
    return producto

n, m = 2, 4
print(f"Al elevar {n} a {m} obtenemos {elevar(n, m)}.")

a = b = 3
print(f"Al elevar {a} a {b} obtenemos {elevar(a, b)}.")

Al elevar 2 a 4 obtenemos 16.
Al elevar 3 a 3 obtenemos 27.

In [ ]:
def elevar(n, m):
    return n ** m

n, m = 2, 4
print(f"Al elevar {n} a {m} obtenemos {elevar(n, m)}.")

a, b = 3
print(f"Al elevar {a} a {b} obtenemos {elevar(a, b)}.")

Al elevar 2 a 4 obtenemos 16.

TypeError: cannot unpack non-iterable int object

In [4]:
n = 2
m = 4

def elevar(n, m):
    return n ** m

print(f"Al elevar {n} a {m} obtenemos {elevar(n, m)}.")

a, b = 3

print(f"Al elevar {a} a {b} obtenemos {elevar(a, b)}.")

Al elevar 2 a 4 obtenemos 16.

TypeError: cannot unpack non-iterable int object

In [6]:
def elevar(n, m):
    producto = 1
    for _ in range(m):
        producto *= n
    return producto

print(f"Al elevar {2} a {4} obtenemos {elevar(2, 4)}.")

a == 3
print(f"Al elevar {a} a {a} obtenemos {elevar(a, a)}.")

Al elevar 2 a 4 obtenemos 16.
Al elevar 3 a 3 obtenemos 27.

Tenemos una función de Python que recibe como parámetro un diccionario donde se muestran nombres de amigos y su edad correspondiente.

Queremos que la función nos retorne cuántos amigos hay en ese grupo.

Indique cuál de los siguientes códigos realiza correctamente esta función.

In [1]:
grupo1 = {'Ana':15,
          'Jose':17,
          'Paula':16}

grupo2 = {'Eva':16,
          'Mario':18,
          'Sole':17,
          'Pablo':16}

def num_amigos(diccionario):
    return len(diccionario.items())

print(f"El grupo 1 tiene {num_amigos(grupo1)} miembros.")
print(f"El grupo 2 tiene {num_amigos(grupo2)} miembros.")

El grupo 1 tiene 3 miembros.
El grupo 2 tiene 4 miembros.

In [12]:
grupo1 = {'Ana':15,
          'Jose':17,
          'Paula':16}

grupo2 = {'Eva':16,
          'Mario':18,
          'Sole':17,
          'Pablo':16}

def num_amigos(diccionario):
    return length(diccionario)

print(f"El grupo 1 tiene {num_amigos(grupo1)} miembros.")
print(f"El grupo 2 tiene {num_amigos(grupo2)} miembros.")

NameError: name 'length' is not defined

In [2]:
grupo1 = {'Ana':15,
          'Jose':17,
          'Paula':16}

grupo2 = {'Eva':16,
          'Mario':18,
          'Sole':17,
          'Pablo':16}

def num_amigos(diccionario):
    return leng(diccionario)

print(f"El grupo 1 tiene {num_amigos(grupo1)} miembros.")
print(f"El grupo 2 tiene {num_amigos(grupo2)} miembros.")

NameError: name 'leng' is not defined

In [19]:
grupo1 = {'Ana':15,
          'Jose':17,
          'Paula':16}

grupo2 = {'Eva':16,
          'Mario':18,
          'Sole':17,
          'Pablo':16}

def num_amigos(diccionario):
    count = 0
    for key() in diccionario:
        count += 1
    return count

print(f"El grupo 1 tiene {num_amigos(grupo1)} miembros.")
print(f"El grupo 2 tiene {num_amigos(grupo2)} miembros.")

SyntaxError: cannot assign to function call (<ipython-input-19-fdbc259e7431>, line 12)

Disponemos de un array con números en formato de string.
Por ejemplo: ['10', '20', '30', '40']